.ant-list .ant-form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.ant-list .ant-form .ant-input {
}

.ant-list .ant-form .ant-form-item {
  flex: 2;
}
.ant-list .ant-form .ant-form-item:last-of-type {
  flex: 1;
  margin-right: 0;
}

.ant-form button {
  width: 100%;
}
